<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-start me-auto">
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/dashboard"> Home </a>
  </li>
  <li class="nav-item">
    <a class="nav-link waves-effect waves-dark" href="/about"> About </a>
  </li>
</ul>
<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-end">
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
  <li class="nav-item">
    <a
      class="nav-link waves-effect waves-dark pro-pic"
    >
      <img
        src="assets/images/users/user2.jpg"
        alt="user"
        class="rounded-circle"
        width="31"
      />
      <span class="ms-2">Chris Ogle</span>
    </a>

  </li>
</ul>
